#вставить свои значения
API_KEY=ключ апи
MODEL=название модели
API_URL=апи-адрес 

# пример
# API_KEY=sl-pr-v1-3b9024dcbd645b3f2f85
# MODEL=openrouter/auto:free
# API_URL=https://openrouter.ai/api/v1/chat/completions